.slick-prev {
    left: 3% !important;
    z-index: 1;
    background-color: #f06292;
    width: 40px;
    height: 40px
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
    background-color: #f06292;
    width: 40px;
    height: 40px;
  }
  .slick-dots {
    margin-left: 40%;
  }